.roadmap {
  margin-top: 60px;
}

.roadmap-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.roadmap-title {
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 79px;
  text-align: center;
  letter-spacing: 0.25em;
  text-transform: uppercase;

  color: #FFFFFF;
}

.roadmap-body {
  /* height: 1032px; */
}

.roadmap-img {
  width: 100%;
  height: fit-content;
}