.crosmoshooter {
  background: radial-gradient(36.57% 86.56% at 74.71% 48.01%, #1A0366 0%, #0D0233 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.35);
  border-radius: 42px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 75px;
  margin-top: 211px;
  box-sizing: border-box;
}

.crosmoshooter-header {
  display: flex;
  align-items: center;
}

.crosmoshooter-title {
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 500;
  font-size: 72px;
  line-height: 118px;

  color: #FFFFFF;

  display: inline-block;
}

.vertical-bar {
  width: 69px;
  height: 10px;
  background: #FFB300;
  border-radius: 53.5px;
  transform: rotate(-90deg);
  display: inline-block;
}

.crosmo-header-desc {
  max-width: 724px;

  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 153%;
  /* or 37px */

  color: #FFFFFF;

  display: inline-block;
}

.cromoshooter-body {
  width: 100%;
  height: 766px;
  background: #000;
  margin-bottom: 7%;
  margin-top: 7%;
}

.crosmoshooter-footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.crosmo-footer-desc {
  display: none;
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 153%;
  /* or 31px */


  color: #FFFFFF;
}

.crosmoshooter-btn {
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 52px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: #FFFFFF;

  display: flex;
  justify-content: center;
  align-items: center;
  
  background: radial-gradient(68.1% 536.43% at 45.98% 26.29%, #1427B3 23.44%, #280E8A 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  box-shadow: 0px 0px 6px rgba(255, 255, 255, 0.35);
  border-radius: 30px;

  padding: 31px 41px;
}

@media only screen and (max-width: 769px) {
  .crosmoshooter {
    margin-top: 38px;
    padding: 50px 10px;
  }

  .crosmoshooter-header {
    padding-left: 20px;
  }

  .crosmo-header-desc {
    display: none;
  }

  .cromoshooter-body {
    height: 165px;
  }

  .crosmoshooter-footer {
    flex-direction: column;
    padding: 15px;
  }

  .crosmo-footer-desc {
    display: block;
  }

  .crosmoshooter-btn {
    margin-top: 43px;
    margin-left: 0px;
    font-size: 20px;
    line-height: 33px;
    height: 74px;
    width: 100%;
  }

  .crosmoshooter-title {
    font-size: 30px;
    line-height: 49px;
  }

  .vertical-bar {
    width: 38px;
    height: 4px;
  }
}