.home {
  background-image: url('/public/assets/bg1.png');
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.inner-home {
  min-height: 100vh;
  padding-bottom: 50px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
}

.img-title-div {
  display: flex;
  justify-content: center;
}

.img-title {
  margin-top: 25vh;
  width: 70%;
  height: fit-content;
  z-index: 999;
}

.subtitle {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-weight: 700;
  font-size: 23px;
  line-height: 29px;
  text-align: center;
  letter-spacing: 0.05em;
  /* margin-top: -10px; */
}

.subtitle span {
  color: #FFB300;
}

.img-craft-1 {
  z-index: 998;
  margin-top: -8%;
  max-width: 35%;
  margin-left: 10%;
}

.img-craft-2 {
  float: right;
  margin-top: -8%;
  margin-right: 10%;
  max-width: 30%;
}

.home-arrow {
  display: flex;
  justify-content: center;
}

.home-arrow a {
  cursor: pointer;
}

.home-arrow img {
  width: 30px;
}

@media only screen and (max-width: 769px) {
  .home {
    /* height: 692px; */
  }
  .subtitle {
    flex-direction: row;
    font-size: 12px;
    line-height: 12px;
  }

  .img-title {
    margin-top: 20vh;
    width: 70%;
  }

  .img-craft-1 {
    max-width: 100%;
    margin-left: -18%;
    margin-top: 0;
  }

  .img-craft-2 {
    max-width: 80%;
    margin-right: -25%;
    margin-top: 0;
  }
}