.home {
  background-image: url('/public/assets/bg1.png');
  height: 1066px;
}

.img-title-div {
  display: flex;
  justify-content: center;
}

.img-title {
  margin-top: 256px;
  width: 80%;
  height: fit-content;
  z-index: 999;
}

.subtitle {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 29px;
  text-align: center;
  letter-spacing: 0.05em;
  color: white;
  margin-top: -77px;
}

.subtitle span {
  color: #FFB300;
}

.img-craft-1 {
  position: absolute;
  top: 121px;
  z-index: 998;
}

.img-craft-2 {
  position: absolute;
  right: 0px;
  top: 204px;
}

.img-craft-1-mobile {
  position: absolute;
  display: none;
}

.img-craft-2-mobile {
  position: absolute;
  display: none;
}

@media only screen and (max-width: 769px) {
  .home {
    height: 692px;
  }
  .subtitle {
    flex-direction: row;
    font-size: 12px;
    line-height: 12px;
    margin-top: -6px;
  }

  .img-title {
    margin-top: 131px;
  }

  .img-craft-1 {
    display: none;
  }

  .img-craft-2 {
    display: none;
  }

  .img-craft-1-mobile {
    display: block;
    top: 226px;
    left: 0;
  }
  
  .img-craft-2-mobile {
    display: block;
    top: 136px;
    right: 0px;
  }
}