.partners {
  margin-top: 60px;
  padding-bottom: 60px;
}

.partners-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.partners-title {
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 56px;
  text-align: center;
  letter-spacing: 0.25em;
  text-transform: uppercase;

  color: #FFFFFF;
}

.partners-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 110px 85px;
}

@media only screen and (max-width: 769px) {
  .partners {
    display: none;
  }
}