.partners {
  margin-top: 70px;
}

.partners-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.partners-title {
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 79px;
  text-align: center;
  letter-spacing: 0.25em;
  text-transform: uppercase;

  color: #FFFFFF;
}

.partners-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 110px;
  padding-left: 85px;
  padding-right: 85px;
  margin-bottom: 150px;
}