.team-member {
  position: relative;
  margin: 150px 20px 10px 20px;
  background: radial-gradient(36.57% 86.56% at 74.71% 48.01%, #1A0366 0%, #0D0233 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.35);
  border-radius: 42px;
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 10px;
}

.member-avatar {
  z-index: 997;
  width: 180px;
  margin-top: -140px;
}

.member-name {
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 30px;
  text-align: center;

  color: #FFFFFF;
  margin-top: 30px;
}

.member-role {
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  text-align: center;

  color: #FFB300;
}

.member-twitter {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 15px;
  bottom: 33px;
}