.appHeader {
  position: fixed;
  z-index: 1000;
  width: 100%;
}

.blur-background {
  background: linear-gradient(180deg, rgba(21,3,82,0.8) 62%, rgba(255,255,255,0) 100%);
}

.inner-menu {
  margin: 1% auto !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.menu-items {
  display: none;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.menu-items a {
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 39px;
  letter-spacing: 0.05em;
  color: white;
  text-decoration: none;
}

.menu-items span:hover {
  border-bottom: 5px solid #FFB300;
  padding-bottom: 12px;
}

.desktop-logo {
  display: none;
  width: 50px;
  height: fit-content;
}

.mobile-logo {
  width: 50px;
  height: fit-content;
}

.discord-link {
  width: 54px;
  height: 54px;
}

@media only screen and (min-width: 769px) {
  .desktop-logo {
    display: flex;
  }

  .mobile-logo {
    display: none;
  }

  .menu-items {
    display: flex;
  }
}