.app {
  font-family: 'Catamaran';
  font-style: normal;
  color: white;
  background-color: #150352;
}

.content-body {
  background-image: url('/public/assets/bg2.png');
  /* background-repeat: no-repeat; */
  background-size: cover;
  background-position: right;
}

@media only screen and (max-width: 769px) {
  .content-body {
    background-image: url('/public/assets/mobile-bg.png');
    /* background-repeat: no-repeat; */
    background-size: cover;
    background-position: right;
  }
}